In [3]:
import pandas as pd
daten = pd.read_csv("../../PyCharm/Blues.csv")

daten.describe()

        Nummer:  BPM:  MFCC's:  rolloff:  centroid:  rms_durschschnitt:
count        61    61       61        61         61                  61
unique       32    15       32        32         32                  32
top     Nummer:  BPM:  MFCC's:  rolloff:  centroid:  rms_durschschnitt:
freq         30    30       30        30         30                  30